# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log